@charset "UTF-8";


body{
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
}

main{
    background-color: transparent; 
    width: 40%;
    margin: auto;
    margin-top: 50px;

}

main > h1{
    color: rgb(255, 255, 255);
    margin:130px auto 0px;
    text-align: center;
    padding-top: 10px;
    font-size: 2.6em;
}

p{
    text-align: center;
    padding: 10px;
    background-color: darkblue;
    width: 260px;
    height: 25px;
    margin:  15px auto;
    border-radius: 10px;

}

a{
    text-decoration: none;
    font-size: 1.3em;
    color: white;
}

p:hover{
    width: 280px;
}

p > a:hover{
    text-decoration: underline;
  
}
